* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --grid-color: black;
    --square-bg-color: #dedede;
    --square-bg-color-hover: #f79883;
    --btn-bg-color: #f79883;
    --btn-bg-color-hover: #dd6c52;
}

.body {
    min-height: 100vh;
    background-color: #f0f0f0;

}

.gameboard-container {
    height: calc(80vh);
    display: grid;
    place-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px

}
.square {
    border: 0px solid var(--grid-color);
    cursor: pointer;
    background-color: var(--square-bg-color);
    border-radius: 5px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86), 200ms;
    display: grid;
    place-items: center;
    font-size: 3rem;
}
.square:hover {
    transform: scale(1.05);
    background-color: var(--square-bg-color-hover);
}

.display {
    height: 50px;
    font-size: 2rem;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: 0px solid gray;
    background-color: var(--btn-bg-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-bg-color-hover);
}