* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --grid-color: black;
    --square-bg-color: #dedede;
    --square-font-color: #333333;
    --square-bg-color-hover: #51beb3;
    --square-font-color-hover: #055e58;
    --square-bg-color-win: #cddd52;
    --square-font-color-win: #5b6700;
    --btn-bg-color: #f79883;
    --btn-font-color: #a73921;
    --btn-bg-color-hover: #dd6c52;
    --btn-font-color-hover: #661706;
}

body {
    min-height: 80vh;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    place-items: center;
}

h1 {
    font-size: 3.3rem;
}

.gameboard-container {
    display: grid;
    place-items: center;
    padding: 20px;
    margin-top: auto;
}

#bot-level {  /* Reset. */
    border: unset;
  
    /* Style */
    width: 130px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 15px;
    color: #222;
  
    /* Arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

#bot-level:focus {
    border: 1px solid var(--btn-bg-color);
    outline: 0;
}

.scores {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    width: 300px;
    justify-items: center;
    margin-block: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 316px;
    padding: 5px;
    background-color: #fefefe;
}

.player {
    display: grid;
    white-space: nowrap;
    grid-template-columns: 1fr 1fr;
    gap:7px;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
    width: 100%;
}

.name {
    font-size: 1rem;
    color: #444;
    padding: 10px;
}
.score {
    color: var(--square-bg-color-hover);
    font-size: 2.5rem;
    font-weight: 800;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
}
.square {
    border: 0px solid var(--grid-color);
    cursor: pointer;
    background-color: var(--square-bg-color);
    border-radius: 5px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86), 200ms;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--square-font-color);
    text-transform: capitalize;
}
.square:hover {
    transform: scale(1.05) !important;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86), 200ms !important;
    background-color: var(--square-bg-color-hover);
    color: var(--square-font-color-hover);
}

.square-win {
    background-color: var(--square-bg-color-win) !important;
    transition: 1s;
    animation: grow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: var(--square-font-color-win) !important;
}

@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.display-container {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: grid;
    place-items: center;

}
.display {
    background-color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    pointer-events: inherit;
    padding: 15px 20px;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 0 5px 5px #00000003;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    border: 0px solid gray;
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    cursor: pointer;
    width: 318px;
}

button:hover {
    background-color: var(--btn-bg-color-hover);
    color: var(--btn-font-color-hover);
}

footer {
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 20px;
    height: fit-content;
}

footer a {
    color: var(--btn-bg-color);
}

footer a:hover {
    color: var(--btn-bg-color-hover);
}